streamlit
langchain
langchain-community
langchain-groq
pinecone
langchain-pinecone
python-dotenv
beautifulsoup4
langchain-classic
pandas
pickle-mixin
sentence-transformers
numpy 
crewai==0.203.2
litellm
gTTS

# Training (Optional)
peft
trl
datasets
bitsandbytes
jupyter
